<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
</head>

<body>
    <div id="message">
    </div>

    <script>
        const msgDiv = document.getElementById('message')

        const eventSource = new EventSource('/sse/msg');

        eventSource.onopen = ({ data }) => {
            msgDiv.innerText = 'open'
        };
        eventSource.onmessage = ({ data }) => {
            msgDiv.innerText = data
        };

        eventSource.onerror = ({ data }) => {
            msgDiv.innerText = 'error'
        };

    </script>
</body>

</html>
